<!DOCTYPE html>
<html>
    <head>
        <title>Riesgo</title>
    </head>

    <body>
        <header>Import the necessary scripts/css stuff in main.hbs</header>
        {{{body}}}
    </body>
</html>